---
layout: base
title: Miscellaneous blog posts
---
- if site.misc.empty?
  %h1 No posts for this section
- for post in site.misc
  .post
    %h1
      %a{:href=>post.url}= post.title 
    %h2 
      = post.date.strftime('%d %B %Y')
    .content
      = truncate(post.content)
    .news-footer
      %a{:href=>"#{site.base_url}#{post.url}"} Read Full Post
