!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title= "#{site.title} : #{page.title}"
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    :css
      body {
        padding-top: 60px;
      }
    %link{:href=>"#{site.base_url}/stylesheets/bootstrap.min.css", :rel=>"stylesheet", :type=>"text/css"}
    %link{:href=>"//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css", :rel=>"stylesheet", :type=>"text/css"}
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>"#{site.base_url}/stylesheets/styles.css" }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
    /[if IE 7]
      %link{:href=>"//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome-ie7.css", :rel=>"stylesheet", :type=>"text/css"}
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        %ul.nav.pull-right
          %li
            %a{ :href=>"#{site.base_url}"} 
              %i.icon-home 
              Home
          %li
            %a{ :href=>"#{site.base_url}/tech", :rel=>"tooltip", :data=>{:placement=>"bottom", :"original-title"=>"Nerdy, technical musings"}}
              %i.icon-cogs
              Technical Blog
          %li
            %a{ :href=>"#{site.base_url}/religious", :rel=>"tooltip", :data=>{:placement=>"bottom", :"original-title"=>"Musings of a spiritual nature"}} 
              %i.icon-book
              Religious Blog
          %li
            %a{ :href=>"#{site.base_url}/misc", :rel=>"tooltip", :data=>{:placement=>"bottom", :"original-title"=>"Random things"}} 
              %i.icon-cloud
              Misc Blog
          %li
            %a{ :href=>"#{site.base_url}/presentations", :rel=>"tooltip", :data=>{:placement=>"bottom", :"original-title"=>"Presentations I've given, also nerdy and technical"}} 
              %i.icon-th-large
              Presentations
          %li
            %a{ :href=>"#{site.base_url}/about" } 
              %i.icon-info-sign 
              About LightGuardjp
    .container
      ~ content
      %hr/
      %footer
        %small
          .container
            .row
              .span6
                %i.icon-beaker
                Mixed with <a href="http://twitter.github.com/bootstrap">Bootstrap</a> & <a href="http://bootswatch.com/readable/">Bootswatch Readable</a>. 
                %br/
                %i.icon-fire
                Baked by <a href="http://awestruct.org">Awestruct</a>.
              .span6
                %i.icon-share-alt
                Content under licensed under <a href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
                %br/
                %i.icon-flag
                Fonts by <a href="http://fortawesome.github.com/Font-Awesome/">Font Awesome</a>.
            .row
              .span9.offset3
                Code released under <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache License, v2.0</a>.
                %br/
                &#169; Copyright 2012-#{DateTime.now.year} Jason Porter.
    %script{:src=>"https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js", :type=>"text/javascript"}
    %script{:src=>"https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js", :type=>"text/javascript"}
    :javascript
      $(document).ready(function() {
        $('.nav a').tooltip();
      });
    - if site.google_analytics
      = google_analytics_async
